:root{
    scroll-behavior: smooth;
}

.body{
    margin: 0;
    padding: 0;
    background-color: #FFFFE0;
    
    
}

.header{
    position: sticky;
    top: 0;
    background-color: #FFC300;
    box-shadow: 0 0.25rem 0.25rem #7a7a7a;
}


.header-nav{
     display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-direction: row;*/
    padding: 0.75rem 2rem;
    max-width: 1024px;
    height: 3rem;
    margin: auto;
}

.header-nav__link-logo-container{
   /*display: none;*/
   max-width: 3rem;
}

.header-nav__logo{
    width: 100%;
    
}

.header-nav__link-list{
    display: flex; /*Alinear items*/
    gap: 0.5rem;

}

.header-nav__link-item{
    list-style: none; /*Quitar circulos de la lista*/
    

}

.header-nav__link{
    text-decoration: none;
    color: #282c34;
    font-weight: 700;
    transition: all 0.25s; /*Tiempo de animacion*/
}

.header-nav__link:hover{
    
    color: rgb(47, 58, 212); /*Cambiar de color la palabra*/
    border-bottom: 0.4rem solid #900C3F ; /*Linea debajo del elemeto*/
    transform: scale(2);
    font-size: 1rem;
    
}


.requisitoCartilla{
    text-align: center;
    padding: 2rem 0;

}

.titulo-cartilla{
    font-size: 2rem;
}

.form-container{
    padding: 0 2rem;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section-info2{
    display: inline-flex;
    justify-content: center;
    gap: 4rem;

    /*text-align: right;
        display: flex;
    flex-direction: column;*/

}

.cantidadPreguntas-container{
    padding: 1rem;
    

}

.labelPreguntas{
    font-size: 1rem;

}
.input-pregunta{
    text-decoration: none;
    border: 0.25rem solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    width: 4rem;
}

.input-pregunta::-webkit-inner-spin-button{
    
    
}

.input-file::-webkit-file-upload-button {
    visibility: hidden;
}

.input-file::before{
    content: 'Selecciona el archivo';
    display: inline-block;
    /*background: linear-gradient(top, #f9f9f9, #e3e3e3);*/
    border: 0.25rem solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 5px 8px;
    /*outline: none;*/
    /*white-space: nowrap;*/
    /*-webkit-user-select: none;*/
    text-shadow: 1px 1px #fff;
    font-weight: bold;
    font-size: 1rem;
    
}



.input-file:hover::before{
    border-color: rgb(56, 150, 204);
    color: rgb(56, 150, 204);
}

.input-file:active::before{
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.input-pregunta:hover{
    border: 0.25rem solid #61dafb;
    transition: all 0.4s;
}

.container-cartilla{
    display: inline;
    
}

.boton-GenerarI{
    display: flex;
    display: inline;
    max-width: 10rem;
    background-color: #C70039 ;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
    align-self: center;
}
.boton-img{
    width: 100%;
}

.boton-GenerarI:hover{
    background-color: #FFC300;
    border: 0.1rem solid #000;  
}


.cartilla{
    background-color: #636466;
    max-width: 700px;
    padding: 2rem 2rem;
    align-items: center;
    margin: auto;
    border-radius: 2rem;
    border: 0.5rem solid black;
    
}





.cartilla-contedor{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    max-width: 400px;
    border: 0.25rem solid #000; 
    
    /*align-content: center;
      aligh-items: center*/
    
    padding: 1rem 1rem;
    margin: auto;
    
}



.contenedor-logo{
    max-width: 400px;
}

.logo-cartilla{
    width: 100%;
}




.seccion-cartilla{
    display: flex ;
    margin: 0;
    padding: 0;
    align-content: center;
    text-align: center;
    
    /*border:   0.2rem solid green ;*/
}
.contenedor-lista {
    /*flex: 4;*/
    /*min-width: 100%;*/
    flex: 2; 
    /*border: 0.2rem solid #900C3F;*/

}

.contenedor-aula-url{
    
    /*flex: 1;*/
    flex-grow: 0;
    /*border: 0.2rem solid #FFC300;*/
}


.contenedor-lista-datos{
   list-style: none;
   margin: auto; 
   padding: 0;
}

.descripcion{ 
    background-color:  aquamarine ;
    font-size: 0.8rem;
}
.dato{
    font-size: 1rem;
    font-weight: bold; 
}

.contenedor-url{
    max-width: 8rem;
    align-self: center;
    margin: auto;
    padding: 0;
}


.url{
    width: 100%;
    margin: auto;
    padding: 0;
    
}
.cartilla-titulo, .aula-titulo, .titulo-instrucciones{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.lista_instrucciones{
    list-style: inside;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    padding-left: 0.2rem;
}



.contenedor-instrucciones{
    max-width: 720px;
    background-color: aquamarine;
    padding: 0;
}


.contenedor-aula-url{
    max-width: 360px;

}

.seccion-cartilla2{
    
    
}

.contenedor-preguntas{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 400px;
    justify-content: space-around;
    flex-wrap: wrap;
    

}
.preguntas{
    flex: 1;
    
    border: 0.2rem solid black;
    padding: 0.3rem 0.3rem;
    
}
.titulo-respuestas{
    margin: auto;
    padding: auto;
    font-size: 1rem;

}

.primero{/*
    max-width: 100px;
    background-color: #FFC300 ;
    display: flex;*/

}
.pregunta-lista{

    /*border: 0.2rem solid black;*/
    display: flex; /*Ajustarse al contenido*/
    flex-direction: row;
    
    flex-wrap: nowrap;
    list-style: none;
    margin: 0.3rem;
    padding: 0;
    justify-content: space-between;
    
    

}
.numero{
    font-size: 1rem;
    

}
.alternativa{
    
    border: 0.15rem solid black;
    border-radius: 50%;
    padding: 0.2rem;
    
    
}
